/* マイナス伝票を赤色で表示する */
.canceled {
  color: red;
}

.link{
  font-size: 20px;
  padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}

.link:hover{
  background-position: -100% 0;
  color: #fff;
}

.invisible {
  display: none;
}

.pass_text {
  display: none;
}

.ajast {
  width: 100px;
}

.ajast_td {
  width: 45px;
}